@import url(https://fonts.googleapis.com/earlyaccess/hannari.css);

#root {
  width: auto;
  background-image: url(../image/wallpaper_00012.jpeg);
}

.pokeIntroduce {
  margin: 0 auto;
  padding: 20px 0;
  width: 90vw;
  min-width: 960px;
  font-family: 'Hannari';
  &__title {
    margin: 16px 0;
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    text-shadow: 6px 6px 6px #131313;
    line-height: 1.5;
    color: #f3f3f3;
    border-radius: 10px;
    background-color: #6cb9e9;
    &.-min {
      margin: 0;
      padding: 8px;
      font-size: 20px;
    }
  }
  &__menuArea {
    padding: 24px 8px;
    line-height: 2;
    font-weight: 700;
    border-radius: 10px;
    background-image: url(../image/ogp.jpeg);
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
  }
  &__menuTitle {
    font-size: 32px;
  }
  &__menuList {
    padding: 20px;
    color: #202020;
    list-style: inside;
    text-shadow: 6px 6px 6px #e9e9e9;
    background-color: rgba(110, 110, 110, 0.199);
    border-radius: 4px;
  }
  &__subMenu {
    font-size: 24px;
  }
  &__subMenuTitle {
    display: inline-block;
    line-height: 1.5;
  }
  &__subMenuList {
    padding: 8px 32px;
    list-style: circle;
    & > li {
      font-size: 20px;
    }
  }
  &__sectionArea {
    margin-top: 64px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgba(241, 241, 241, 0.9);
    background-blend-mode: lighten;
    opacity: 0;
    transition: opacity 1.5s;
    &.is-fadeIn {
      opacity: 1;
    }
  }
  &__phaseTitle {
    margin-top: 36px;
    line-height: 1.5;
    font-size: 36px;
    font-weight: 700;
  }
  &__phaseMidTitle {
    margin-top: 64px;
    padding-top: 16px;
    line-height: 1.5;
    font-size: 28px;
    font-weight: 700;
    border-top: 1px solid rgb(192, 192, 192);
  }
  &__phaseMinArea {
    margin-top: 20px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: rgba(226, 226, 226, 0.9);
  }
  &__phaseMinTitle {
    line-height: 1.5;
    padding: 20px 0 12px;
    font-size: 20px;
    font-weight: 700;
  }
  &__photo {
    display: inline-block;
    margin: 8px 0 0 4px;
    border-radius: 4px;
    max-width: none;
    &.-height200 {
      height: 200px;
    }
    &.-height230 {
      height: 230px;
    }
    &.-height250 {
      height: 250px;
    }
    &.-width600 {
      width: 600px;
    }
    &.-width500 {
      width: 500px;
    }
    &.-width450 {
      width: 450px;
    }
    &.-width300 {
      width: 300px;
    }
  }
  &__descTextBox {
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(226, 226, 226, 0.9);
  }
  &__descText {
    padding: 16px 0;
    font-size: 20px;
    &.-strong {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
  }
  &__onePointText {
    display: inline-block;
    margin-top: 16px;
    font-size: 28px;
  }
  &__mapPhotoArea {
    display: flex;
    justify-content: left;
    margin-left: -4px;
  }
  &__photoList {
    margin-left: 4px;
  }
  &__figureText {
    font-size: 16px;
    line-height: 1.5;
  }
  &__carousel {
    margin: 0 auto;
    width: 840px;
    overflow: hidden;
    white-space: nowrap;
  }
  &__carouselArea {
    display: flex;
    position: relative;
    margin-left: -8px;
    height: 100%;
    transition: 0.4s;
  }
  &__carouselList {
    .pokeIntroduce__photo {
      width: 840px;
      margin-left: 8px;
      max-width: none;
    }
  }
  &__carouselText {
    padding: 8px;
    text-align: center;
  }
}
a {
  color: #668ad8; /*文字色*/
  text-decoration: none;
}
/* ボタンタグの装飾リセット */
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
}
/*********** スライド送りボタン ***********/
/* 共有パーツ */
.arrow-wrap {
  padding: 4px 0;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-btn {
  width: 48px;
  height: 48px;
  background-color: rgba(113, 135, 245, 0.8);
  border-radius: 50%;
  transition: 0.2s;
  &:focus {
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
  }
  &:hover {
    background-color: rgb(51, 79, 216);
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.8);
  }
}
/* 左 */
.arrow-left {
  position: relative;
  opacity: 1;
  transition: opacity 0.4s;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%) rotate(-45deg);
    cursor: pointer;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
/* 右 */
.arrow-right {
  position: relative;
  opacity: 1;
  transition: opacity 0.4s;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #fefefe;
    border-left: 2px solid #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(135deg);
    cursor: pointer;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.btn-prev {
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.btn-next {
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.poke-button {
  &__scrollTo {
    &.css-dn5esd {
      color: #b8ffce;
      background: #727272a9;
    }
  }
  &__backTop {
    margin: 12px 4px;
    justify-content: right;
  }
}
@media screen and (max-width: 375px) {
  .pokeIntroduce {
    width: 95vw;
    min-width: unset;
    &__title {
      font-size: 32px;
    }
    &__menuArea {
      padding: 8px;
    }
    &__menuTitle {
      font-size: 24px;
    }
    &__menuList {
      padding: 8px;
    }
    &__subMenu {
      font-size: 13px;
    }
    &__subMenuList {
      & > li {
        font-size: 12px;
      }
    }
    &__sectionArea {
      margin-top: 32px;
      padding: 8px;
    }
    &__phaseTitle {
      font-size: 32px;
    }
    &__phaseMidTitle {
      margin-top: 24px;
      padding-top: 8px;
      font-size: 20px;
    }
    &__phaseMinArea {
      margin-top: 20px;
      padding: 0 8px;
      border-radius: 4px;
      background-color: rgba(226, 226, 226, 0.9);
    }
    &__phaseMinTitle {
      line-height: 1.5;
      padding: 20px 0 12px;
      font-size: 20px;
      font-weight: 700;
    }
    &__photo {
      &.-height200 {
        height: unset;
        width: 80vw;
      }
      &.-height230 {
        height: unset;
        width: 80vw;
      }
      &.-height250 {
        height: unset;
        width: 80vw;
      }
      &.-width600 {
        width: 80vw;
      }
      &.-width500 {
        width: 80vw;
      }
      &.-width450 {
        width: 80vw;
      }
      &.-width300 {
        width: 80vw;
      }
    }
    &__descTextBox {
      padding: 4px;
    }
    &__descText {
      padding: 8px 0;
      font-size: 16px;
      &.-strong {
        font-size: 24px;
      }
    }
    &__onePointText {
      margin-top: 8px;
      font-size: 20px;
    }
    &__mapPhotoArea {
      display: block;
    }
    &__figureText {
      font-size:10px;
    }
    &__carousel {
      width: 280px;
    }
    &__carouselList {
      .pokeIntroduce__photo {
        margin: 0 0 0 8px;
        width: 280px;
      }
    }
  }
  .arrow-btn {
    width: 30px;
    height: 30px;
  }
  /* 左 */
  .arrow-left {
    &:after {
      width: 8px;
      height: 8px;
    }
  }
  /* 右 */
  .arrow-right {
    &:after {
      width: 8px;
      height: 8px;
    }
  }
  .poke-button {
    &__backTop {
      margin: 8px 4px;
    }
  }
}
